
/* MAPA RESPONSIVO */
@media screen and (min-height: 700px) {
    #map {
        height: 30vh;
    }
}

@media screen and (min-height: 1000px) {
    #map {
        height: 38vh;
    }
}

/* Comentarios */
.tip {
    width: 0px;
    height: 0px;
    position: absolute;
    background: transparent;
    border: 10px solid white;
}

.tip-left {
    top: 10px;
    left: -25px;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;  
}

.dialogbox .body {
    position: relative;
    max-width: 300px;
    height: auto;
    margin: 20px 10px;
    padding: 5px;
    background-color: white;
    border-radius: 3px;
    border: 5px solid white;
  }
  
  .body .message {
    min-height: 30px;
    border-radius: 3px;
    font-family: Arial;
    font-size: 14px;
    line-height: 1.5;
    color: rgba(4,70,120,1);;
  }

.lugar_info {
    margin-top: 25vh;
    overflow: scroll;
    height: 60vh;
}

.figuras{
    text-align: center;
}

#campo_texto{
    line-height: 3em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#boton_comentario{
    margin-top: 10px;
    color: #202129;
    background-color: #f2f2f2;
}
    
#boton_comentario:hover {
    color: #202129;
    background-color: #e1e2e2;
    opacity: 1;
}

#boton_comentario:active {
    background-color: #d5d6d6;
    opacity: 1;
}