/*
Paleta de colores:
(colores de mas claros a oscuros)
Color principal 1=  #B0DAFA
Color principal 2=  #5EB4F6
Color principal 3=  #2198F3
Color principal 4=  #0483E4
Color principal 5=  #044678
Color negativo 1=   #FFDCAE
Color negativo 2=   #FFB757
Color negativo 3=   #FF9A13
Color negativo 4=   #FF9200
Color negativo 5=   #BB6B00
*/
body{
    background-color: #B0DAFA;
}
footer{
    background-color: #044678;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 2rem;
}
h1{
    text-align: center;
    font-size: 200%;
    font-family: helvetica;
    font-style: italic;
    font-weight: bold;
    color: #044678;
}
a{
    font-size: 5vw;
    font-family: helvetica;
    font-style: italic;
    font-weight: bold;
    color: #044678;
    text-decoration: none;
}
p{
    font-size: 5vw;
    font-family: helvetica;
    font-weight: bold;
    color: #044678;
}

/* grila responsiva*/
.responisve_wrapper{
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit,minmax(3rem,1fr));
}
.itemsResponsive{
    display: block;
    margin: auto;
    min-width: 2rem;
    min-height: 2rem;
    width: 5rem;
    height: 5rem;
    background-color: #FF9200;
    border-radius: 20px;
}

/* grilla normal*/
.wrapper{
    display: grid;
}
.item1{
    grid-column: 1/2;
    grid-row: 1/2;
}
.item2{
    grid-column: 2/3;
    grid-row: 1/2;
}
.item3{
    grid-column: 3/4;
    grid-row: 1/2;
}
.item4{
    grid-column: 1/4;
    grid-row: 2/3;
    min-height: 25rem;/* ver */
}

/* nav ayuda*/
#navAyuda{
    background-color: #5EB4F6;
    position: absolute; 
    right: 0;
    left: 0;
    top: 0;
    min-height: 2rem;
}
#itemAyuda1{
    text-align: center;
    border: 1px;
    border-style: solid;
    border-color: #044678;
}
#itemAyuda2{
    text-align: center;
    border: 1px;
    border-style: solid;
    border-color: #044678;
}
#itemAyuda3{
    text-align: center;
    border: 1px;
    border-style: solid;
    border-color: #044678;
}
#textoAyuda{
    position: fixed;
    top: 2rem;
    width: 100%;
}

/* MAPA */
#map {
    height: 480px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
}